 .back{
		background-image: fixed;
		border-style:solid;
		border : 1px;
		position:absolute;
 }
 
 #upper{
	 
  z-index:100;
  position:relative;
  color: black;
  font-size: 24px;
  font-weight: bold;
  left: 215px;
  top: 597px;
 }
 
 .mySlides{
  position: absolute;
  left: 0;
  top: 0;
 }
 