*{
 margin:0px;
 padding:0px;
 }
 
body{
 font-family:Tahoma, Geneva, sans-serif;
 background-image:url("Mountains.jpg");
 background-repeat:no-repeat;
 background-position:fixed;
 }
 

#container{
 width:550px;
 background-color:none;
 margin:auto;
 margin-top:50px;
 margin-bottom:10px;
 box-shadow:none;
}
#container_body{
 padding:20px;
 opacity:100%;
 }
.form_title{
 font-size:35px;
 color:#141823;
 text-align:center;
 padding:10px;
 font-weight:normal;
 }
#form_name{
 padding:25px 0 0 15px;
 }
.content{
  margin-right:25px;
 }
.input_name{
 width:200px;
 padding:3px;
 font-size:15px;
 box-shadow:2px 2px 5px grey;
 }
 
 .input_name:hover{
	opacity: 100%;
 }
 .input_name:active{
	opacity: 60%;
 }
	
	
#Number_of_People1{
 float:left;
 }
 #Number_of_People2{
 float:right;
 margin-right:10px;
 }
 .positions{
	  margin-bottom :20px;
 }
.input_email{
 margin-right : 10px;
 width:200px;
 padding:3px;
 font-size:15px;
 box-shadow:2px 2px 5px grey;
 }
 
 .input_email:hover{
	opacity: 100%;
 }

 .input_email:active{
	opacity:60%;
 }
#password_form{
 margin-right:20px;
 }
 
 #Cpassword_form{
	 margin-right:90px;
 }
 
.input_password{
 width:200px;
 padding:3px;
 font-size:15px;
 box-shadow:2px 2px 5px grey;
 }
 
 .input_password:hover{
	opacity: 100%;
 }
 
 .input_password:active{
	opacity:160%;
 }
 
.birthday_title{
 font-size:16px; 
 color:#8b919d; 
 font-weight:normal;
 padding:0 0 10px 0;
 }
select{
 padding:5px;
 }
#birthday{
 font-size:12px;
 color:#8b919d;
 padding-top:10px;
 }
#radio_button{
 padding:10px 0 0 0;
 }
#sign_user {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
	border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	cursor: pointer;
 }
 
 #sign_user:hover{
	background-color:#0000A0;
 }
 
 #login a{
	 color:black;
 }
 
#errorBox{
 color:#F00;
 }